<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Ding-Ding-Ding-Ding!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <h1>Parabéns! És um dos vencedores d'O Grande Desafio!</h1>
    <img src="{{ url_for('static', filename='premio.gif') }}" alt="Premio">
    <p>Como prémio pela tua genialidade, acabas-te de ganhar um passe para voltares ao trabalho! Que isto aqui não é para preguiçosos!</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p style="color: {{ 'green' if category == 'success' else 'red' }}">{{ message }}</p>
            {% endfor %}
         {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('final') }}">
        {{ form.hidden_tag() }}
        {{ form.mensagem() }}
        {{ form.submit() }}
    </form>
</body>
</html>