<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>O Grande Desafio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>

<body>
    <h1>Bem-vindo à página d'O Grande Desafio!</h1>
    <p>Vamos dar-te 3 desafios para testar a tua capacidade lógica. Se acertares em todas as respostas, terás uma surpresa no final! Preparada/o? </p>
    <img src="{{ url_for('static', filename='ready.gif') }}" alt="Ready" height= "50">
    <a href="{{url_for('desafio1')}}" >Let's go!</a>

</body>

   </html>
   